@{
    ViewBag.Title = "Home Page - Backend1";
}
<h1>Form parameters parsing demo</h1>
<ul>
    <li><a asp-controller="CalcService" asp-action="ManualParsingSingle">Manual parsing in single action</a></li>
    <li><a asp-controller="CalcService" asp-action="ManualParsingSeparate">Manual parsing in separate action</a></li>
    <li><a asp-controller="CalcService" asp-action="ModelBindingParameters">Model binding (parameters)</a></li>
    <li><a asp-controller="CalcService" asp-action="ModelBindingSeparate">Model binding (separate model)</a></li>
</ul>